/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
.app{
 /* background-color: rgba(85, 55, 88, 0.244);  */
 display: flex;
 justify-content: center;
 align-items: center;
 color:white;
 font-size: 20px;
}
.container{
background-color: rgba(85, 55, 88, 0.244) ;
border-radius: 12px;
border: 2px solid rgba(85, 0, 88, 0.244);

}
button{
/* border-radius: 50px;
background-color: red; */
  
}
input{
  background-color: black;
  padding: 12px;
  margin: 12PX;
  width: 350PX;
  border: none;
  border-radius: 50px;
}